@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    position: relative;
    z-index: 5;
    background-color:#181818 ;
}

.shape1{
    content: " ";
    width: 150px;
    height: 650px;
    background-color: rgba(0, 0, 255, 0.571);
    position: absolute;
    top: 3rem;
    right: 0;
    filter: blur(120px);
    z-index: 0;
}


.shape2{
    content: " ";
    width: 150px;
    height: 650px;
    background-color: rgba(255, 0, 208, 0.571);
    position: absolute;
    bottom: 0;
    left: 0;
    filter: blur(120px);
    z-index: 0;
}